{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetraGuard</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="homepage">
    <nav class="navbar">
        <div class="logo"><ion-icon name="shield-half-outline"></ion-icon>NetraGuard</div>
        <ul class="nav-links">
            <li><a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Dashboard</a></li>
            <li><a href="{% url 'history' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">History</a></li>
            <li><a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About</a></li>
            <li class="dropdown">
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Profile</a>
                {% comment %} <div class="dropdown-content">
                    <a href="#">User</a>
                    <a href="#">Logout</a>
                </div> {% endcomment %}
            </li>
        </ul>
    </nav>

    <div class="content">
        <div class="webcam-container" id="webcam-container">
            <video id="webcam-video" autoplay playsinline></video>
        </div>
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="container" id="anomaly">
                    <h2>Anomaly Alert</h2>
                    <h1>Climbing</h1>
                  </div>

                  <div class="container">
                    <h2>Recent anomaly detected</h2>
                    <ul>
                      <li>
                        <span class="time">6 hours ago</span>
                        <span class="path">Drilling</span>
                      </li>
                      <li>
                        <span class="time">13 hours ago</span>
                        <span class="path">Wall Climbing</span>
                      </li>
                      <li>
                        <span class="time">17 hours ago</span>
                        <span class="path">Fighting</span>
                      </li>
                      <li>
                        <span class="time">Yesterday</span>
                        <span class="path">Rope Climbing</span>
                      </li>
                    </ul>
                    <a href="{% url 'history' %}">View History →</a>
                  </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const webcamContainer = document.getElementById("webcam-container");
            const webcamVideo = document.getElementById("webcam-video");
        
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then((stream) => {
                        webcamVideo.srcObject = stream;
                    })
                    .catch((error) => {
                        console.error("Error accessing webcam:", error);
                    });
            } else {
                console.error("getUserMedia is not supported in this browser");
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
